@model IEnumerable<Chatter.Chat>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<button id="getsChats" class="btn btn-primary">Get Chats!</button>
<div id="response"></div>
@section Scripts{<script>
    //...Javascript object
    var jsonTest = { "ID": 1, "userID": 1, "Message": "Hello, World!" };
    //Now some jQuery
    $("#response").text(jsonTest.userID);
    </script>}





@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MessageBox)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MessageBox)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeStamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUser.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ChatID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ChatID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ChatID })
        </td>
    </tr>
}

</table>*@
